<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>12145762320-9qanoanouvrf6lldptkbla7r6d5cm8es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12145762320-9qanoanouvrf6lldptkbla7r6d5cm8es</string>
	<key>API_KEY</key>
	<string>AIzaSyCxOT-7xBuu0vIHwNJdePqO3P6UwmeeNq4</string>
	<key>GCM_SENDER_ID</key>
	<string>12145762320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ninjamkt.pushmynotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-256ba</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-256ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12145762320:ios:ee80f27f8dea21c0</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-256ba.firebaseio.com</string>
</dict>
</plist>